@model IEnumerable<WebApplication1.Models.EventModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="container">

        <div class="row">
            <div class="col-md-6 text-start text-white">
                <p class="jumbotron p-3">
                    Sed nec elit verstibulum, <b>tincidunt orci</b> et, sagittis ex. Vestibulum rutrum <b>neque suscipit</b> ante mattis maximus. Nulla non sapien <b>viverra, lobortis lorem non</b>, accumsan metus.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="jumbotron text-white">
                    Tulevased üritused
                </div>

                <div class="text-start bg-white">
                    <ol>
                        
                        @foreach (var item in Model.Where (s => s.Date >= DateTime.Now))
                        {
                            <li>
                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </div>
                                    <div class="col-md-2">
                                        @Html.DisplayFor(modelItem => item.Date)
                                    </div>
                                    <div class="col-md-4">
                                        <a asp-action="Osalejad" asp-route-id="@item.ID">OSAVÕTJAD</a>
                                        <a asp-action="Delete" asp-route-id="@item.ID">X</a>
                                    </div>
                                </div>
                            </li>
                        }

                    </ol>

                    <div>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UrituseLisamine">LISA ÜRITUS</a>
                    </div>

                </div>
                

            </div>
            <div class="col-md-6">

                <div class="jumbotron text-white">
                    Toimunud üritused
                </div>

                <ol class="text-start bg-white">
                    
                    @foreach (var item in Model.Where(s => s.Date < DateTime.Now))
                    {
                        <li>
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </div>
                                <div class="col-md-2">
                                    @Html.DisplayFor(modelItem => item.Date)
                                </div>
                                <div class="col-md-4">
                                    <a asp-action="Osalejad" asp-route-id="@item.ID">OSAVÕTJAD</a>
                                    <a asp-action="Delete" asp-route-id="@item.ID">X</a>
                                </div>
                            </div>
                        </li>
                    }

                </ol>

            </div>
        </div>

    </div>
</div>

