@model WebApplication1.Models.ParticipantsViewModel

@*@using WebApiClient.Models
@model dynamic*@

@{
    ViewData["Title"] = "Details";

    
    IEnumerable<PersonModel>? participatingPersons = ViewData["ParticipatingPersons"] as IEnumerable<PersonModel>;
    IEnumerable<CompanyModel>? ParticipatingCompanies = ViewData["ParticipatingCompanies"] as IEnumerable<CompanyModel>;
}

@*PersonModel? persons = ViewData["Persons"] as PersonModel;*@

<div class="jumbotron text-white py-3 px-3">
    <h3>Osavõtjad</h3>
</div>

<div class="bg-white padded py-5">
    <h4 class="text-riik-blue">Osavõtjad</h4>
    <div class="container px-0">
        <p>
            @Model.GetType()
            @*@persons.GetType()*@
        </p>
        <dl class="row">
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.eventModel.Title):
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.eventModel.Title)
            </dd>
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.eventModel.Date):
            </dt>
            <dd class="col-md-9">
                @Html.DisplayFor(model => model.eventModel.Date)
            </dd>
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.eventModel.Location):
            </dt>
            <dd class="col-md-9">
                @Html.DisplayFor(model => model.eventModel.Location)
            </dd>
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => model.eventModel.AdditionalInfo):
            </dt>
            <dd class="col-md-9">
                @Html.DisplayFor(model => model.eventModel.AdditionalInfo)
            </dd>
            <!--Osalejad - Eraisikud-->
            <dt class="col-md-3">
                Osavõtjad:
            </dt>
            <dd class="col-md-9">
                <ol class="px-3">
                    @if (participatingPersons != null)
                    {
                        @foreach (var person in participatingPersons)
                        {
                            <li>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.DisplayFor(modelItem => person.FirstName)
                                        @Html.DisplayFor(modelItem => person.LastName)
                                    </div>
                                    <div class="col-md-3">
                                        @Html.DisplayFor(modelItem => person.PersonalId)
                                    </div>
                                    <div class="col-md-2">
                                        <a asp-action="OsalejaEraisik" asp-route-id="@person.ID">VAATA</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a asp-action="KustutaEraisik" asp-route-id="@person.ID">KUSTUTA</a>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ol>
            </dd>

            <!--Osalejad - Ettevõtted-->
            <dt class="col-md-3">
                
            </dt>
            <dd class="col-md-9">
                <ol class="px-3">
                    @if (participatingPersons != null)
                    {
                        @foreach (var company in ParticipatingCompanies)
                        {
                            <li>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.DisplayFor(modelItem => company.Name)
                                        @Html.DisplayFor(modelItem => company.Code)
                                    </div>
                                    <div class="col-md-3">
                                        @Html.DisplayFor(modelItem => company.NrOfAtendees)
                                    </div>
                                    <div class="col-md-2">
                                        <a asp-action="OsalejaEttevõte" asp-route-id="@company.ID">VAATA</a>
                                    </div>
                                    <div class="col-md-3">
                                        <a asp-action="KustutaEttevõte" asp-route-id="@company.ID">KUSTUTA</a>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ol>
            </dd>
        </dl>
    </div>

    <!--Osavõtjate lisamine-->
    <h4 class="text-riik-blue">Osavõtjate lisamine</h4>

    <form id="form1" runat="server">
        <input type="radio" id="eraisik" name="osaleja_tyyp" value="eraisik">
        <label for="eraisik">Eraisik</label><br>
        <input type="radio" id="ettevõte" name="osaleja_tyyp" value="ettevõte">
        <label for="ettevõte">Ettevõte</label><br>
    </form>

    <!--Eraisiku lisamine-->
    <div class="container px-0">
        <form asp-action="CreatePerson">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row pb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="personModel.FirstName" class="control-label"></label>:
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <input asp-for="personModel.FirstName" class="form-control" />
                        <span asp-validation-for="personModel.FirstName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="personModel.LastName" class="control-label"></label>:
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <input asp-for="personModel.LastName" class="form-control" />
                        <span asp-validation-for="personModel.LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="personModel.PersonalId" class="control-label"></label>:
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <input asp-for="personModel.PersonalId" class="form-control" />
                        <span asp-validation-for="personModel.PersonalId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="personModel.PayingMethod" class="control-label"></label>:
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <input asp-for="personModel.PayingMethod" class="form-control" />
                        <span asp-validation-for="personModel.PayingMethod" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="personModel.AdditionalInfo" class="control-label"></label>:
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <input asp-for="personModel.AdditionalInfo" class="form-control" />
                        <span asp-validation-for="personModel.AdditionalInfo" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <input asp-for="eventPersonModel.EventModelID" type="hidden" value="@ViewBag.id" />

            <div class="form-group">
                <a asp-action="Index" class="btn btn-sm btn-riik-secondary">Tagasi</a>
                <input type="submit" value="Lisa" class="btn btn-sm btn-riik-primary" />
            </div>
        </form>
    </div>

    <!--Ettevõtte lisamine-->
    <div class="container px-0 py-5">
        <form asp-action="CreateCompany">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row pb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="companyModel.Name" class="control-label"></label>:
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <input asp-for="companyModel.Name" class="form-control" />
                        <span asp-validation-for="companyModel.Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="companyModel.Code" class="control-label"></label>:
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <input asp-for="companyModel.Code" class="form-control" />
                        <span asp-validation-for="companyModel.Code" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="companyModel.NrOfAtendees" class="control-label"></label>:
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <input asp-for="companyModel.NrOfAtendees" class="form-control" />
                        <span asp-validation-for="companyModel.NrOfAtendees" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="companyModel.PayingMethod" class="control-label"></label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <input asp-for="companyModel.PayingMethod" class="form-control" />
                        <span asp-validation-for="companyModel.PayingMethod" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row pb-2">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="companyModel.AdditionalInfo" class="control-label"></label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <input asp-for="companyModel.AdditionalInfo" class="form-control" />
                        <span asp-validation-for="companyModel.AdditionalInfo" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <input asp-for="eventCompanyModel.EventModelID" type="hidden" value="@ViewBag.id" />

            <div class="form-group">
                <a asp-action="Index" class="btn btn-sm btn-riik-secondary">Tagasi</a>
                <input type="submit" value="Lisa" class="btn btn-sm btn-riik-primary" />
            </div>
        </form>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.eventModel?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}